//Styling for container of the Carousel Component
.container {
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

//Styling for the Carousel Component which slides through the View Component Within It
.carousel {
  width: 1000px;
  height: 500px;
  margin: auto;
  overflow: hidden;

  .button {
    height: 50px;
    position: relative;
    bottom: 285px;
    cursor: pointer;

    &Left {
      left: 60px;

      &:hover {
        content: url("/left-chevron-blue.png");
      }
    }
    &Right {
      left: 830px;
      &:hover {
        content: url("/right-chevron-blue.png");
      }
    }
  }
  //Styling for the View Component that is nested in Carousel Component that contains all the movie slides
  &View {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-basis: 100%;
  }
}
