@import "../var-mix/mixin";
.videoInfo {
  //Styling for VideoInfo Component
  display: grid;
  width: 85vw;
  height: 350px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 40px;
  column-gap: 40px;

  //Media Queries
  @include for-size("tablet-landscape-down") {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 80px;
    height: auto;
  }

  @include for-size(phone-only) {
    margin: 0;
    padding: 50px 0px;
    height: auto;
    width: 95vw;
  }
}
